html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 0;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
}
.game-area-container.flex-container {
	width: 100%;
	height: auto;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
div.game-area {
	width : 800px;
	height : 600px;
	padding: 0px;
	position: relative;
}
.game-tile {
	display: inline-block;
	position: absolute;
	background-color: blue;
	border-radius: 5px;
	border: thin solid black;
	line-height: 0;
	-webkit-transition: left 0.25s, top 0.25s;
	-moz-transition: left 0.25s, top 0.25s;
	transition: left 0.25s, top 0.25s;
}